.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 6rem; */
  /* min-height: 100vh; */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 1000px;
    background-image: url("../public/iylna.jpg");
    background-repeat: no-repeat;
  }
}
